html, body
{
   position: absolute;
   top: 0px;
   margin: 0px;
   width: 100%;
   min-height: 100%;
   color: RGBA(0, 0, 0, 0);
}

a 
{
   border : 0px;
   text-decoration: none;
}

.nav-menu
a
div
{
   display: inline-block;
   text-decoration: none;
   background-color: #888;
   width: 200px;
   height: 200px;
   margin : 3px 3px 0px 0px;
}

.nav-menu 
.github
div
{
   background-image : url('../images/github.png');
}
